<% include partials/header %>

<div class="container">
    <h1>Landing page</h1>
    <p>
        <a class="btn btn-primary btn-large" href="/cats/home">Enter here</a>
    </p>
</div> 

<% include partials/footer %>