<% include ../partials/header %>
    
<div class="container">
    <h1>Add a new photo!</h1>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form method="post" action="/cats">
                <div class="form-group">
                    <label for="dbname">Name</label>
                    <input id="dbname" class="form-control" type="text" name="cats[name]" placeholder="Typ name here" required>
                </div>
                <div class="form-group">
                    <label for="dbname">Image URL</label>
                    <input id="dbname" class="form-control" type="text" aria-describedby="ImageHelp" name="cats[image]" placeholder="Typ image URL here" required>
                    <small id="ImageHelp" class="form-text text-muted">Tip: upload image to imgur or similar website first and link the address above.</small>
                </div>
                <div class="form-group">
                    <label for="dbdesc">Description</label>
                    <input id="dbdesc" class="form-control" type="text" name="cats[description]" placeholder="Describe your cat in a few keywords">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
            <a href="/cats">Go back</a>
        </div>
    </div>  
</div>

<% include ../partials/socketio %>
<% include ../partials/footer %>