<% include ../partials/header %>
    
<div class="container">
    <h1>Add a new cat</h1>
    <div class="row justify-content-center">
        <div class="column-md-6">
            <form method="POST" action="/cats">
                <div class="form-group">
                    <button id="RanCat" class="btn btn-outline-primary">Generate random cat image</button>
                </div>
                <div class="form-group">
                    <label for="dbname">Name</label>
                    <input id="dbname" class="form-control" type="text" name="cats[name]" placeholder="Give your random cat a cute name" required>
                    <input id="dbimage" type="hidden" name="cats[image]" value="http://lorempixel.com/640/480/cats">
                </div>
                <div class="form-group">
                    <label for="dbdesc">Description</label>
                    <input id="dbdesc" class="form-control" type="text" name="cats[description]" placeholder="Describe your cat">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
            <a href="/cats">Go back</a>
        </div>
        <div class="column-md-6">
            <div id="randomcat"></div>
        </div>
    </div>  
</div>

<% include ../partials/socketio %>
<% include ../partials/footer %>