<% include ../partials/header %>

<div class="container-fluid p-0">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 flowtext">Welcome to Smokeys blog!</h1>
            <p class="lead flowtext">We overload you with the latest catselfies.</p>
            <hr>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/cats/create" role="button">Add new photo</a>
            </p>
        </div>
    </div>
    
    <div class="row text-center p-4">
        <% cats.forEach(function(cat) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="catimage">
                        <img src="<%= cat.image %>">
                        <div class="cat-edit"><button class="btn btn-primary" onclick="location.href='/cats/<%= cat._id %>'">About me(ow)</button></div>
                    </div>
                    <div class="caption">
                        <h4><%= cat.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div> 

<% include ../partials/footer %>