<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container"></div>
            <h1>Welcome to my cat blog!</h1>
            <p>View our random picked cat pics</p>
            <p>
                <a class="btn btn-primary btn-large" href="/cats/create">Add new cat</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center">
        <% cats.forEach(function(cat) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="catimage">
                        <img src="<%= cat.image %>">
                        <div class="cat-edit"><button class="btn btn-primary" onclick="location.href='/cats/<%= cat._id %>'">Edit</button></div>
                    </div>
                    <div class="caption">
                        <h4><%= cat.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div> 

<% include ../partials/footer %>